<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

   <bean id="user" class="xyz.cherish.model.User">
       <property name="name" value="Lily" />
   </bean>
    <bean id="manager" class="xyz.cherish.model.Manager">
        <property name="name" value="Mr. m"/>
        <property name="childUser" ref="user"/>
    </bean>
    <bean id="multi" class="xyz.cherish.model.MultiFiledObj">
        <property name="intFiled" value="1"/>
        <property name="booleanFiled" value="true"/>
        <property name="byteFiled" value="127" />
        <property name="doubleFiled" value="12.31" />
        <property name="longFiled" value="123123123" />
        <property name="stringFiled" value="hello world"/>
    </bean>
</beans>

