<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="user" class="xyz.cherish.test.model.User">
       <property name="name" value="Lily"/>
   </bean>
    <bean id="manager" class="xyz.cherish.test.model.Manager">
        <property name="name" value="Mr. m"/>
        <property name="childUser" ref="user"/>
    </bean>
    <bean id="multi" class="xyz.cherish.test.model.MultiFiledObj">
        <property name="intFiled" value="1"/>
        <property name="booleanFiled" value="true"/>
        <property name="byteFiled" value="127"/>
        <property name="doubleFiled" value="12.31"/>
        <property name="longFiled" value="123123123"/>
        <property name="stringFiled" value="hello world"/>
    </bean>
    <bean id="postPrecess" class="xyz.cherish.test.beans.factory.config.CustomBeanPostProcessor"/>
</beans>

